/* nav bar */
nav{
  text-align: center;
}
nav li{
  display:inline-block;
}
nav li:hover{
  border: 1px solid darkgrey;
  background-color: lightblue;
  /* slows down the background apear speed a little */
  transition: .5s ease;
}
nav li a:hover{
  font-size: 20px;
  color: white;
}
/* buttons */
div{
  text-align: center;
}
div button{
  background-color: #A3D2FF;
  border: none;
  width: 80px;
  height: 40px;
  color: grey;
  border-radius: 4px;
  padding: 10px;
}
div button:hover{
  background-color: #A3D2DC;
  color: white;
}
